<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>我的奖品</title>
</head>
<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../bootstrap/fonts/glyphicons-halflings-regular.ttf">
<style>
	body{
		font-family: 'PingFangSC Light','宋体','楷体','SimSon';
	}
	.navbar-text{
		margin:10px 0;
		font-size: 18px;
	}
</style>
<style>
	
</style>
<body>
<nav class="navbar navbar-default">
  	<a class="navbar-brand" href="./index.html">
        <i class="glyphicon glyphicon-menu-left"></i>
    </a>
  <div class="container-fluid" style="text-align: center;">
  	<p class="navbar-text"><span style="margin-left:-35px;">我的奖品</span></p>
    
  </div>
</nav>
<div class="container">
	<div class="list">
		<ul>
			<li>1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
		</ul>
	</div>
</div>
</body>
<script src="../jquery/jquery-1.9.1.min.js"></script>
<script src="../bootstrap/js/bootstrap.min.js"></script>
</html>